name: Build Docker image

on:
    push:
        branches: [main]
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            REGISTRY: ghcr.io
            IMAGE_NAME: frontend-image
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v3

            - name: Log in to GitHub Container Registry
              uses: docker/login-action@v3
              with:
                  registry: ghcr.io
                  username: ${{ github.actor }}
                  password: ${{ secrets.GHCR_PAT }}

            - name: Build and push image (multi-platform)
              uses: docker/build-push-action@v5
              with:
                  context: .
                  platforms: linux/amd64,linux/arm64
                  push: ${{ github.event_name == 'push' }}
                  tags: |
                      ${{ env.REGISTRY }}/silentnille/${{ env.IMAGE_NAME }}:latest
                      ${{ env.REGISTRY }}/silentnille/${{ env.IMAGE_NAME }}:${{ github.sha }}
